* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container img {
  width: 250px;
  margin-top: 20%;
  margin-left: 10%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: ball 0.4s;
  animation-iteration-count: infinite;
}

@keyframes ball {
  from {
    top: 0px;
  }
  to {
    top: 75px;
  }
}

